body, html {
  height: 100%;
  font-family: 'Roboto', 'sans-serif';
}

.hero-image {
  background-image: url("../img/Login.png");
  height: 100%;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-title h1 {
  color: white;
  font-weight: 700;
  margin-top: 100px;
}

.main-title h2 {
  color: white;
  font-weight: 100;
  margin-top: 40px;
}

.login-content {
  background-image: url(../img/fondo-login.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 105%;
  background-position: bottom;
  padding: 50px 20px 30px;
  margin: auto 25px;
  margin-top: 5%;
  background-color: #253A4B;
  border-radius: 60px;
  box-shadow: -3px 2px 11px 0px black;
}

.login-content a {
  color: red;
}

.login-content a:hover {
  color: #253A4B;
}

.login-content h3 {
      color: white;
    text-align: center;
    font-family: 'Roboto', 'sans serif';
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 12%;
}

.login-content form {
  text-align: center;
}

.login-content form input[type=text],
.login-content form input[type=password] {
  border-style: none;
    border-radius: 10px;
    padding: 8px 10px 8px 45px;
    margin-bottom: 35px;
    width: 77%;
}
.login-content form input[type=text]::-webkit-input-placeholder,
.login-content form input[type=password]::-webkit-input-placeholder {
  font-size: 12px;
  font-style: italic;
}

.login-content form input[type=text] {
  background-image: url("../img/icon_cuenta.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.login-content form input[type=text]:hover,
.login-content form input[type=text]:active,
.login-content form input[type=password]:hover,
.login-content form input[type=password]:active {
  box-shadow: 1px 1px 7px white;
}

.login-content form input[type=password] {
  margin-bottom: 40px;
  background-image: url("../img/icon_password.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.inputButton {
  position: relative;
    margin-bottom: 44%;
    border-radius: 10px;
    color: white;
    border-style: none;
    border: none;
    padding: 8px 50px;
    font-size: 16px;
    box-shadow: 0px 2px #1D2D3A;
    background: rgb(230,31,68);
    background: -moz-linear-gradient(90deg, rgba(230,31,68,1) 30%, rgba(240,109,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(230,31,68,1) 30%, rgba(240,109,69,1) 100%);
    background: linear-gradient(90deg, rgba(230,31,68,1) 30%, rgba(240,109,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e61f44",endColorstr="#f06d45",GradientType=1);
    transition: color .5s ease-in-out,background .5s ease-in-out,box-shadow .5s ease-in-out;
}

.inputButton:hover {
  color: #253A4B;
  background:white;
  box-shadow: inset 0px 0px 3px 1px #253A4B;
}

.login-content p {
  color: black;
  margin: 0;
  font-size: 12px;
  text-align: center;
}

/*media queries*/

@media (max-width: 992px) {
  .login-content {
    margin: 0;
    margin-top: 40px;
    background-size: 110%;
    padding: 40px 20px 30px;
  }
  .inputButton {
    margin-bottom: 40%;
    width: 65%;
  }
  .main-title h1 {
    font-size: 30px;
  }
  .main-title h2 {
    font-size: 23px;
  }
  .login-content form input[type=text],
  .login-content form input[type=password] {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero-image {
    height: auto;
    background-size: 195%;
  }
  .main-title h1,
  .main-title i,
  .main-title h2 {
    text-align: center;
    width: 100%
  }
  .login-content {
    padding: 9% 8% 7%;
    margin: 7%;
  }
  .login-content p {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .hero-image {
    height: auto;
    background-size: cover;
  }
}
@media (max-width: 460px) {
  .login-content {
    padding: 2%;
    padding-bottom: 7%;
    margin: 7% -25px 0;
    border-radius: 25px;
  }
  .login-content form input[type=text],
  .login-content form input[type=password] {
    width: 90%;
  }
  .img-provias {
    width: 100%
  }
  .main-title h1 {
    margin-top: 5%;
  }
  .main-title h2 {
    margin: 3%;
  }
}